body {
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid white; */
}

/* SharedLayout */
.bg {
  width: 100vw;
  background: linear-gradient(rgba(65, 65, 65, 0.7), rgba(65, 65, 65, 0.7))
      no-repeat fixed center center/cover,
    url(../src/images/william-daigneault-ju3eqN0gl6Y-unsplash.jpg) no-repeat
      fixed center center/cover;
}

/* Navigation */
.nav-bar,
.logo-title,
.nav-link,
.search {
  display: flex;
  align-items: center;
}

.nav-bar {
  background-color: rgb(5, 5, 5);
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 4px rgb(44, 44, 44);
}

.logo-title {
  font-size: 2rem;
  font-family: "Prosto One", cursive;
  font-weight: 700;
}

.logo-title > a {
  text-decoration: none;
}

.title {
  margin-left: 0.5rem;
  color: rgb(2, 165, 165);
}

.fa-clapperboard {
  color: rgb(116, 104, 65);
}

.nav-link > a {
  text-decoration: none;
  font-weight: 500;
  margin: 0 2rem;
  font-size: 1.1rem;
  color: rgb(175, 175, 175);
}

.search-area {
  padding: 0.3rem;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  text-indent: 0.5rem;
  color: white;
  background-color: rgb(34, 34, 34);
}

.fa-magnifying-glass {
  color: white;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
  color: lightgrey;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4rem 2rem 2rem 2rem;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links > a {
  margin: 0 2rem;
  color: white;
  font-size: 1.2rem;
}

.footer-text {
  color: lightgrey;
  text-align: center;
  margin-top: 2rem;
}

/* Outlet (pages component)*/
.outlet-bg,
.outlet-bg-empty-search {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.outlet-bg {
  padding: 6rem 2rem 2rem 2rem;
}

.outlet-bg-empty-search {
  padding: 13rem 2rem 20rem 2rem;
}

.tv-header {
  color: white;
  text-align: center;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.select-movie-tv-search {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 1rem 0;
}

.select-movie,
.select-tv {
  color: rgb(70, 70, 70);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
}

.select-movie.active,
.select-tv.active {
  color: greenyellow;
}

/* Movie Card */
.card,
.type-date {
  display: flex;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  min-height: 26rem;
  width: 12rem;
  background-color: rgb(61, 61, 61);
  border-radius: 0 0 0.5rem 0.5rem;
  cursor: pointer;
}

.poster-container {
  padding: 2rem 1rem;
}

.fa-star {
  color: goldenrod;
}

.rating,
.movie-title {
  color: white;
}

.rating {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 0.6rem;
}

.movie-title {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Prosto One", cursive;
}

.type-date {
  padding: 0.4rem;
  margin: 0.6rem;
  justify-content: space-between;
  color: rgb(163, 163, 163);
  background-color: rgb(36, 36, 36);
  border-radius: 0.7rem;
}

.type {
  color: rgb(255, 255, 128);
  font-size: 0.9rem;
}

/* Paginated Display */
.card-pagination-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
  padding: 2rem;
  gap: 3rem;
  justify-content: center;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  max-height: 2.8rem;
  max-width: 2.8rem;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  color: white;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: rgba(255, 255, 255, 0.2);
  border: 0.13rem solid #666;
  border-radius: 50%;
  padding: 0.63rem;
  color: rgb(1, 173, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 0.63rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.paginationItem.active {
  border: 1px solid #888;
  color: greenyellow;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

@media screen and (max-width: 1024px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-link {
    margin: 1.5rem 0 2rem 0;
    width: 100%;
    justify-content: space-around;
  }

  .outlet-bg {
    padding: 13rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .card-container {
    gap: 2rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .nav-link {
    display: none;
  }

  .search {
    margin-top: 1.5rem;
  }

  .logo-title {
    font-size: 1.8rem;
  }

  .outlet-bg {
    padding: 9rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 512px) {
  .card {
    min-height: 23rem;
    width: 9.5rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.5rem;
  }

  .type-date {
    flex-direction: column-reverse;
    text-align: center;
  }

  .movie-title,
  .type {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 374px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
  }

  .card {
    min-height: 26rem;
    width: 12rem;
  }
}
