body {
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid white; */
}

/* SharedLayout */
.bg {
  width: 100%;
  background: linear-gradient(rgba(65, 65, 65, 0.7), rgba(65, 65, 65, 0.7))
      no-repeat fixed center center/cover,
    url(../src/images/william-daigneault-ju3eqN0gl6Y-unsplash.jpg) no-repeat
      fixed center center/cover;
  -webkit-tap-highlight-color: transparent;
}

/* Navigation */
.nav-bar,
.logo-title,
.nav-link,
.search {
  display: flex;
  align-items: center;
}

.nav-bar {
  background-color: rgb(5, 5, 5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 4px rgb(44, 44, 44);
  z-index: 5;
  width: 100%;
}

.logo-title {
  font-size: 2rem;
  font-family: "Prosto One", cursive;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(182, 148, 61);
  background-color: rgb(19, 0, 19);
}

.logo-title > a {
  text-decoration: none;
  text-shadow: 0 0 1px rgb(182, 148, 61);
}

.title {
  margin-left: 0.5rem;
  color: rgb(170, 152, 94);
  text-shadow: 0 0 1px rgb(182, 148, 61);
}

.fa-clapperboard {
  color: rgb(170, 152, 94);
}

.nav-link > a {
  text-decoration: none;
  font-weight: 500;
  margin: 0 2rem;
  font-size: 1.1rem;
  color: rgb(175, 175, 175);
}

.search-area {
  padding: 0.3rem;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  text-indent: 0.5rem;
  color: white;
  background-color: rgb(34, 34, 34);
}

.fa-magnifying-glass {
  color: white;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
  color: lightgrey;
}

.menu-container {
  color: white;
  position: fixed;
  top: 4rem;
  right: 1rem;
  font-size: 1.8rem;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4rem 2rem 2rem 2rem;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links > a {
  margin: 0 2rem;
  color: white;
  font-size: 1.2rem;
}

.footer-text {
  color: lightgrey;
  text-align: center;
  margin-top: 2rem;
}

/* Outlet (pages component)*/
.outlet-bg,
.outlet-bg-empty-search {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.outlet-bg-empty-search {
  padding: 13rem 2rem 2rem 2rem;
  min-height: 100vh;
}

.tv-header {
  color: rgb(184, 184, 184);
  text-align: center;
  display: block;
  font-weight: 300;
  margin-top: 0.5rem;
  font-family: "Unbounded", cursive;
}

.select-movie-tv-search {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 1rem 0;
}

.select-movie,
.select-tv {
  color: rgb(70, 70, 70);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
}

.select-movie.active,
.select-tv.active {
  color: white;
}

/* Home page */
.main-slide-card {
  background-color: rgb(5, 5, 5);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
}

.home-main,
.home-slideshow,
.main-slide-detail {
  display: flex;
}

.home-slideshow {
  justify-content: space-between;
}

.home-main {
  width: 100%;
  flex-direction: column;
  background-color: rgb(5, 5, 5);
  margin: auto;
}

.main-slide-ctn {
  position: relative;
}

.next-slide-ctn {
  padding: 1.5rem;
}

.fa-caret-right,
.fa-caret-left {
  display: none;
  position: absolute;
}

.fa-caret-right,
.fa-caret-left,
.fa-angle-right,
.fa-angle-left,
.fa-chevron-right,
.fa-chevron-left {
  color: rgb(202, 202, 202);
  font-size: 2rem;
  z-index: 2;
  background-color: rgba(0, 9, 0, 0.4);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}

.fa-angle-right,
.fa-angle-left,
.fa-chevron-right,
.fa-chevron-left {
  margin: 1rem;
}

.fa-caret-right {
  right: 0;
  top: 50%;
  margin-right: 0.5rem;
}

.fa-caret-left {
  left: 0;
  top: 50%;
  margin-left: 0.5rem;
}

.fa-circle-play {
  color: rgba(255, 255, 255, 0.4);
}

.up-next-txt {
  color: yellow;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 0.9rem;
}

.next-slide-swiper-ctn {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.main-slide-detail {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100.05%;
  background: linear-gradient(to top, rgb(5, 5, 5) 80%, transparent 100%);
  padding-top: 0.6rem;
}

.main-slide-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-slide-title {
  color: rgb(182, 148, 61);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.next-slide-card {
  display: flex;
  color: white;
  align-items: center;
  box-shadow: 0 0 3px black;
  background-color: rgb(20, 20, 20);
}

.next-slide-details {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-size: 0.95rem;
}

.trending-ctn {
  margin: 2rem 0;
}

.select-toggle-ctn {
  color: green;
  cursor: pointer;
}

.select-options {
  color: rgb(192, 192, 192);
  position: absolute;
  left: 55%;
  font-size: 1.1rem;
  line-height: 2rem;
  z-index: 40;
  color: rgb(184, 184, 184);
  background-color: rgb(27, 27, 27);
  padding: 0.5rem;
  border-radius: 0.6rem;
  display: none;
}

.today,
.this-week {
  display: block;
}

.today,
.this-week {
  cursor: pointer;
}

.today:hover,
.this-week:hover {
  color: yellow;
}

.trending-inner-ctn,
.top-rated-inner-ctn {
  display: flex;
  align-items: center;
}

/* Movie Card */
.card,
.type-date {
  display: flex;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(61, 61, 61);
  border-radius: 0 0 0.5rem 0.5rem;
  cursor: pointer;
  transition: transform 0.1s;
}

.card:hover {
  transform: scale(1.03);
}

.poster-container {
  padding: 2rem 1rem;
}

.fa-star {
  color: goldenrod;
}

.rating,
.movie-title {
  color: white;
}

.rating {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 0.6rem;
}

.movie-title {
  text-align: center;
  padding: 0 0.25rem;
  font-size: 0.9rem;
  font-family: "Prosto One", cursive;
}

.type-date {
  padding: 0.4rem;
  margin: 0.6rem;
  justify-content: space-between;
  color: rgb(163, 163, 163);
  background-color: rgb(36, 36, 36);
  border-radius: 0.7rem;
}

.type {
  color: rgb(255, 255, 128);
  font-size: 0.9rem;
}

/* Paginated Display */
.card-pagination-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.paginationItem {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  max-height: 2.8rem;
  max-width: 2.8rem;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  color: white;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: rgba(255, 255, 255, 0.2);
  border: 0.13rem solid #666;
  border-radius: 50%;
  padding: 0.63rem;
  color: rgb(1, 173, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 0.63rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.paginationItem.active {
  border: 1px solid #888;
  color: greenyellow;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

/* Cast Card */

.cast-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;

  cursor: pointer;
}

.cast-image {
  margin-bottom: 0.3rem;
  padding: 0.3rem;
  border-radius: 1.2rem;
  object-fit: contain;
}

.cast-name {
  padding: 0.3rem;
  font-size: 0.7rem;
}

.character-tooltip {
  position: absolute;
  font-size: 0.75rem;
  color: white;
  background-color: rgb(0, 87, 87);
  padding: 0.2rem;
  border-radius: 0.5rem;
  top: 50%;
}

.character-txt {
  color: rgb(235, 235, 0);
  font-weight: 500;
}

/* Modal */
.modal-btn {
  font-size: 1.2rem;
  padding: 0.6rem;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 7;
  padding-top: 2rem;
  overflow-y: auto;
}

.modal-content {
  width: 70%;
  background-color: rgb(26, 26, 26);
  padding: 0.5rem;
  box-shadow: 0 0 6px rgb(1, 202, 202);
  border-radius: 0.5rem;
}

.close-icon {
  float: right;
  color: white;
  font-weight: bolder;
  font-size: 1.8rem;
  cursor: pointer;
}

.modal-body {
  padding: 0.8rem;
}

.details-ctn span {
  display: block;
  margin: 0.3rem 0;
}

.title-date-ctn {
  text-align: center;
}

.modal-title {
  color: rgb(4, 175, 175);
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.tagline {
  color: orange;
  font-weight: 500;
  font-family: cursive;
}

.modal-date {
  color: green;
  font-weight: 500;
}

.overview {
  background-color: rgb(20, 20, 20);
  color: rgb(192, 192, 192);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  margin: 1rem 0;
  border: none;
  box-shadow: 0 0 6px rgb(1, 202, 202);
  overflow-y: scroll;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
}

.swiper-button-disabled {
  opacity: 0.15;
}

.cast-ctn {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 0 6px rgb(1, 202, 202);
}

.cast-txt {
  font-family: "Ubuntu", sans-serif;
  color: yellow;
  font-size: 0.8rem;
}

.outer-swiper-ctn {
  display: flex;
  align-items: center;
}

.details-img-ctn,
.img-ctn,
.details-ctn {
  display: flex;
}

.img-ctn {
  justify-content: center;
}

.details-ctn {
  flex-direction: column;
  justify-content: space-between;
}

.play-trailer-btn {
  background-color: rgb(221, 58, 49);
  color: white;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.play-trailer-btn:hover {
  background-color: rgb(211, 64, 56);
}

.overview::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
.overview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Video window */
.video-window-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
}

.video-window {
  width: 80%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 1rem;
}

iframe {
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 480px) {
  .outlet-bg {
    padding: 9rem 0.5rem 2rem 0.5rem;
  }

  .nav-bar {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .nav-link {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 8rem;
  }

  .nav-link.visible {
    display: flex;
  }

  .nav-link.hidden {
    display: none;
  }

  .search {
    margin-top: 0.5rem;
  }

  .modal-content {
    width: 80%;
  }

  .video-window {
    width: 100%;
  }

  .modal-body::-webkit-scrollbar {
    display: none;
  }
  .modal-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .fa-circle-chevron-left,
  .fa-circle-chevron-right {
    display: none;
  }

  .cast-name {
    font-size: 0.8rem;
  }

  .card {
    min-height: 21rem;
    width: 8.5rem;
  }

  .card-container {
    padding: 0.8rem 0.3rem;
    gap: 2rem 1.5rem;
  }

  .type-date {
    flex-direction: column-reverse;
    text-align: center;
  }

  .movie-title,
  .type {
    font-size: 0.8rem;
  }

  .details-img-ctn {
    flex-direction: column;
  }

  .modal-poster {
    max-width: 50%;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .modal-content {
    margin: 2rem auto;
  }

  .overview {
    max-height: 7rem;
    font-size: 0.8rem;
  }

  .title-date-ctn {
    display: none;
  }

  .cast-name {
    font-size: 0.6rem;
  }

  .next-slide-ctn {
    display: none;
  }

  .main-slide-ctn {
    width: 100%;
  }

  .main-slide-title {
    font-size: 1rem;
  }

  .main-slide-info {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .fa-circle-play {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .tv-header {
    font-size: 1.2rem;
  }

  .trending-ctn,
  .top-rated-ctn {
    padding: 0 2rem;
  }

  .logo-title {
    margin-bottom: 1rem;
  }

  .fa-angle-right,
  .fa-angle-left,
  .fa-chevron-right,
  .fa-chevron-left {
    display: none;
  }

  /* Swiper */
  .swiper-nav-left,
  .swiper-nav-right,
  .fa-circle-chevron-left,
  .fa-circle-chevron-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    cursor: pointer;
    margin: 0.2rem;
  }

  .swiper-button-disabled {
    opacity: 0.1;
  }
}

@media screen and (min-width: 481px) {
  .outlet-bg {
    padding: 10.5rem 1rem 2rem 1rem;
  }

  .nav-bar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }

  .nav-link {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .menu-container {
    display: none;
  }

  .modal-title {
    font-size: 1.5rem;
  }

  .card-container {
    padding: 0.8rem 0.3rem;
    gap: 2rem 2.5rem;
  }

  .card {
    min-height: 24rem;
    width: 9.5rem;
  }

  .details-img-ctn {
    flex-direction: column;
  }

  .modal-poster {
    max-width: 50%;
  }

  .modal-content {
    margin: 2rem auto;
  }

  .overview {
    max-height: 7rem;
  }

  .title-date-ctn {
    display: none;
  }

  .next-slide-ctn {
    display: none;
  }

  .main-slide-ctn {
    width: 100%;
  }

  .main-slide-title {
    font-size: 1.1rem;
  }

  .main-slide-info {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .fa-circle-play {
    font-size: 2rem;
    margin-right: 1.5rem;
  }

  .trending-ctn,
  .top-rated-ctn {
    padding: 0 3rem;
  }

  .tv-header {
    font-size: 1.3rem;
  }

  .fa-angle-right,
  .fa-angle-left,
  .fa-chevron-right,
  .fa-chevron-left {
    display: none;
  }
  .logo-title {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .outlet-bg {
    padding: 11rem 1.8rem 2rem 1.8rem;
  }

  .card {
    min-height: 25rem;
    width: 11rem;
  }

  .card-container {
    padding: 1.8rem;
    gap: 3rem;
  }

  .modal-title {
    font-size: 2rem;
  }

  .modal-content {
    margin: 8rem auto;
  }

  .tagline,
  .modal-date {
    font-size: 1.3rem;
  }

  .title-date-ctn {
    display: block;
  }

  .details-ctn {
    padding: 1rem;
  }

  .video-window {
    padding-top: 0;
  }

  .main-slide-title {
    font-size: 1.5rem;
  }

  .main-slide-info {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .fa-circle-play {
    font-size: 3rem;
    margin-right: 2rem;
  }

  .tv-header {
    font-size: 1.6rem;
  }

  .trending-ctn,
  .top-rated-ctn {
    padding: 0;
  }

  .fa-angle-right,
  .fa-angle-left,
  .fa-chevron-right,
  .fa-chevron-left {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .outlet-bg {
    padding: 6.5rem 0.5rem 2rem 0.5rem;
  }

  .nav-bar {
    justify-content: space-between;
    padding: 1.5rem 2rem;
    flex-wrap: nowrap;
  }

  .nav-link {
    width: fit-content;
    margin-bottom: 0;
  }

  .logo-title {
    font-size: 1.5rem;
  }

  .nav-link > a {
    font-size: 1rem;
  }

  .card {
    min-height: 26rem;
    width: 12rem;
  }

  .card-container {
    padding: 1.7rem;
    gap: 3rem;
  }

  .overview {
    max-height: 6rem;
  }

  .details-img-ctn {
    flex-direction: row;
  }

  .img-ctn {
    width: 45%;
  }

  .details-ctn {
    width: 55%;
  }

  .modal-poster {
    max-width: 100%;
  }

  .modal-content {
    margin: 5rem auto;
  }

  .next-slide-poster {
    max-width: 4rem;
  }

  .next-slide-ctn {
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  .main-slide-ctn {
    width: 65%;
  }

  .logo-title {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    padding: 2rem;
    gap: 3rem;
  }

  .logo-title {
    font-size: 2rem;
  }

  .nav-link > a {
    font-size: 1.1rem;
  }

  .cast-ctn {
    max-height: 15.2rem;
  }

  .cast-profile {
    max-width: 6.5rem;
  }

  .overview {
    max-height: 7rem;
  }

  .img-ctn {
    width: 40%;
  }

  .details-ctn {
    width: 60%;
  }

  .next-slide-poster {
    max-width: 5.75rem;
  }
}
